<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <title th:fragment="title" th:text="#{titre.ingredient.recherche}"></title>
    <script th:fragment="script" type="text/javascript" src=""></script>
    <link th:fragment="css" rel="stylesheet" type="text/css" href=""></link>


    <div th:fragment="content">
    
        <h1 th:text="#{titre.ingredient.recherche}"></h1>
    
        <form id="rechercheOpenFoodFacts" th:action="@{/sport-nutrition/rechercher-item}" method="post" >
            <div>
                <label for="code-barre" th:text="#{formulaire.champ.open.food.facts.code.barre}"></label>
                <input type="text" id="code-barre" th:name="codeBarre"></input>
                <span th:text="${erreur}"></span>
            </div>
            <div class="button">
                <button type="submit" onclick="rechercheOpenFoodFacts()" th:text="#{texte.bouton.rechercher}"></button>
            </div>
        </form>
        
        <div th:if="${ingredientDto != null}">
            <hr>
            <h2 th:text="${ingredientDto.nom}"></h2>
            <form id="enregistrerItemOpenFoodFacts" th:action="@{/sport-nutrition/enregistrer-item}" method="post" th:object="${ingredientDto}">
                <div>
                    <label for="proteines-100g" th:text="#{formulaire.champ.open.food.facts.proteines.cent.grammes}"></label>
                    <input type="text" id="proteines-100g" th:field="*{proteines}" readonly="readonly">
                </div>
                <div>
                    <label for="lipides-100g" th:text="#{formulaire.champ.open.food.facts.lipides.cent.grammes}"></label>
                    <input type="text" id="lipides-100g" th:field="*{lipides}" readonly="readonly">
                </div>
                <div>
                    <label for="glucides-100g" th:text="#{formulaire.champ.open.food.facts.glucides.cent.grammes}"></label>
                    <input type="text" id="glucides-100g" th:field="*{glucides}" readonly="readonly">
                </div>
                <div>
                    <label for="energie-100g" th:text="#{formulaire.champ.open.food.facts.energie.cent.grammes}"></label>
                    <input type="text" id="energie-100g" th:field="*{energie}" readonly="readonly">
                </div>
                <div>
                    <input type="hidden" th:field="*{nom}">
                    <input type="hidden" th:field="*{codeBarre}">
                </div>
                <div class="button">
                    <button type="submit" onclick="enregistrerOpenFoodFacts()" th:text="#{texte.bouton.enregistrer}"></button>
                </div>
            </form>   
        </div>
    </div>

</html>