<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <title th:fragment="title" th:text="#{titre.tableau.de.bord} + ' ' + ${utilisateur.prenom} + ' ' + ${utilisateur.nom}"></title>
    <script th:fragment="script" type="text/javascript" src=""></script>

    <div th:fragment="content">
    
        <h1 th:text="#{titre.tableau.de.bord} + ' ' + ${utilisateur.prenom} + ' ' + ${utilisateur.nom}"></h1>
    
        <!-- Identité -->
        <th:block th:object="${utilisateur}">
            <form>
                <div>
                    <label for="sexe">Sexe</label>
                    <input type="text" id="sexe" th:value="genre" disabled="disabled"></input>
                    <span></span>
                </div>
                <div>
                    <label for="age">Age</label>
                    <input type="text" id="age" th:value="*{age}" disabled="disabled"></input>
                    <span></span>
                </div>
            </form>
        </th:block>
        
        <hr>
    
        <h3 th:text="#{sous.titre.gabarit}"></h3>
        
        <!-- Cas des données de gabarit existantes -->
        <th:block th:if="${gabarit != null}">
            <form id="enregistrerGabarit" th:action="@{/sport-nutrition/enregistrer-gabarit}" method="post" th:object="${gabarit}">
                <div>
                    <label for="poids" th:text="#{formulaire.champ.poids}"></label>
                    <input type="number" step="0.1" id="poids" th:field="*{poids}" th:min="#{formulaire.champ.poids.min}" th:max="#{formulaire.champ.poids.max}"></input>
                    <span th:text="#{formulaire.commentaire.poids}"></span>
                </div>
                <div>
                     <label for="taille" th:text="#{formulaire.champ.taille}"></label>
                    <input type="number" step="1" id="taille" th:field="*{taille}"></input>
                    <span th:text="#{formulaire.commentaire.taille}"></span>
                </div>
                <div>
                    <label for="tourDeCou" th:text="#{formulaire.champ.tourDeCou}"></label>
                    <input type="number" step="0.1" id="tourDeCou" th:field="*{tourDeCou}"></input>
                    <span th:text="#{formulaire.commentaire.tourDeCou}"></span>
                </div>
                <div>
                    <label for="tourDeTaille" th:text="#{formulaire.champ.tourDeTaille}"></label>
                    <input type="number" step="0.1" id="tourDeTaille" th:field="*{tourDeTaille}"></input>
                    <span th:text="#{formulaire.commentaire.tourDeTaille}"></span>
                </div>
                <input type="hidden" th:field="*{id}"></input>
            </form>
               <div class="submit">
                    <a href="javascript:{}" onclick="enregistrerGabarit()" th:text="#{texte.bouton.enregistrer}"></a>
               </div>
        </th:block>
        
        <!-- Cas d'absence de données de gabarit -->
        <div th:if="${gabarit == null}">
            <form id="initialiserGabarit" th:action="@{/sport-nutrition/initialiser-gabarit}" method="post">
                <span th:text="#{formulaire.commentaire.aucun.gabarit}"></span>
            </form>
            <div class="submit">
                <a href="javascript:{}" th:text="#{texte.bouton.initialiser}" onclick="initialiserGabarit()"></a>
            </div>
        </div>
        
        <!-- Cas des données de rythme existantes -->
        <th:block th:if="${rythme != null}">
            <hr>
            <h3 th:text="#{sous.titre.rythme}"></h3>
            <form id="enregistrerRythme" th:action="@{/sport-nutrition/enregistrer-rythme}" method="post" th:object="${rythme}">
                <div>
                    <label for="entrainement" th:text="#{formulaire.champ.rythme.entrainement.hebdomadaire}"></label>
                    <select id="entrainement" th:field="*{entrainementHebdomadaire}">
                        <option th:each="entrainement : ${T(fr.nico.myawesomewebsite.domaine.referentiel.RythmeEntrainementHebdomadaireEnum).values()}" 
                                th:text="${entrainement.libelle}" th:selected="${entrainement == rythme.entrainementHebdomadaire}"
                                th:value="${entrainement}">
                        </option>
                    </select>
                    <span th:text="#{formulaire.commentaire.rythme.entrainement.hebdomadaire}"></span>
                </div>
                <div>
                    <label for="nbRepasJour" th:text="#{formulaire.champ.rythme.nombre.repas.journalier}"></label>
                    <input type="range" id="nbRepasJour" th:field="*{nbRepasJour}" min="2" max="8"></input>
                    <span th:text="#{formulaire.commentaire.rythme.nombre.repas.journalier}"></span>
                </div>
                <div>
                    <label for="proteineKilo" th:text="#{formulaire.champ.rythme.proteines.par.kilo}"></label>
                    <input type="number" id="proteineKilo" th:field="*{proteineKilo}"></input>
                    <span th:text="#{formulaire.commentaire.rythme.proteines.par.kilo}"></span>
                </div>
                <div>
                    <label for="lipideKilo" th:text="#{formulaire.champ.rythme.lipides.par.kilo}"></label>
                    <input type="number" id="lipideKilo" th:field="*{lipideKilo}"></input>
                    <span th:text="#{formulaire.commentaire.rythme.lipides.par.kilo}"></span>
                </div>
                <input type="hidden" th:field="*{id}"></input>
            </form>
                <div class="submit">
                    <a href="javascript:{}" onclick="enregistrerRythme()" th:text="#{texte.bouton.enregistrer}"></a>
                </div>
        </th:block>
        
        <!-- Cas d'absence de données de rythme -->
        <th:block th:if="${gabarit != null and rythme == null}">
            <hr>
            <h3 th:text="#{sous.titre.rythme}"></h3>
            <form id="initialiserRythme" th:action="@{/sport-nutrition/initialiser-rythme}" method="post">
                <span th:text="#{formulaire.commentaire.aucun.rythme}"></span>
            </form>
            <div class="submit">
                <a href="javascript:{}" th:text="#{texte.bouton.initialiser}" onclick="initialiserRythme()"></a>
            </div>
        </th:block>
        
        <!-- si données de métabolisme existantes -->
        <th:block th:if="${not #lists.isEmpty(metabolismes)}">
        
            <hr>
            <h3 th:text="#{sous.titre.metabolismes}"></h3>  
              
            <form>
                <div th:each="metabolisme : ${#lists.sort(metabolismes, parValeurMetabolisme)}">
                       <label th:text="${metabolisme.type.nom}"></label>
                       <input type="text" th:value="${metabolisme.valeur}" disabled="disabled"></input>
                       <span th:text="#{unite.calories.par.jour}"></span>
                       <span th:text="${metabolisme.glucidesRepas}"></span>
                </div>
            </form>
            
        </th:block>
        
    </div>

</html>