<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title th:fragment="title" th:text="#{sous.titre.fil.rubrique} + ' : ' + ${rubrique}"></title>
        <script th:fragment="script" type="text/javascript" src="/js/fil.js"></script>
        <script th:fragment="script" type="text/javascript" src="/js/table.js"></script>
    </head>
    <body>
        <div th:fragment="content">
            <!-- Titre et sous-titre -->
            <th:block th:fragment="titre">
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <h1 class="fw-bold" th:text="${#strings.capitalizeWords(rubrique)}"></h1>
                    </blockquote>
                    <figcaption class="blockquote-footer" th:text="#{sous.titre.fil.rubrique} + ' : ' + ${rubrique} + '.'">
                    </figcaption>
                </figure>
            </th:block>
            <!-- Modal de suppression du fil -->
            <th:block sec:authorize="isAuthenticated()" th:replace="fil/modal-supprimer :: content(ecranOrigine = ${rubrique})"></th:block>
            <!-- Zone des messages -->
            <div class="alert alert-dark alert-dismissible fade show" role="alert" th:if="${filResumeDto}" >
                <span th:text="${'Fil ID #' + filResumeDto.id + ' ' + filResumeDto.action.displayValue + '.'}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${messageEchec}" >
                <span th:text="${messageEchec}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <!-- Pagination TOP -->
            <th:block th:replace="layouts/pagination :: content(url = '/fil/rubrique?nom=' + ${rubrique})"></th:block>
            <!-- Liste des fils -->
            <div th:if="${rubrique != 'image' and not #lists.isEmpty(pageOfObjects)}">
                <p id="description" th:text="#{sous.titre.fil.rubrique} + ' : ' + ${rubrique} + '.'"></p>
                <table class="table table-sm" aria-describedby="description">
                    <thead>
                        <tr>                    
                            <th scope="col">Titre</th>
                            <th class="d-none d-lg-table-cell" scope="col">Auteur</th>
                            <th class="d-none d-lg-table-cell" scope="col">Création</th>
                            <th class="d-none d-lg-table-cell" scope="col">Dernière modification</th>
                            <th class="d-none d-lg-table-cell" scope="col">ID</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="clickable" th:each="fil: ${pageOfObjects}" th:attr="data-lien=${'/fil/consulter?id=' + fil.id + '&ecranOrigine=' + rubrique + '&number=' + pageOfObjects.number + '&size=' + pageOfObjects.size}">
                            <td th:text="${fil.titre}"></td>
                            <td class="d-none d-lg-table-cell" th:text="${fil.auteurPrenom + ' ' + fil.auteurNom}" />
                            <td class="d-none d-lg-table-cell" th:text="${#temporals.format(fil.dateCreation, 'dd/MM/yyyy@HH:mm')}" />
                            <td class="d-none d-lg-table-cell" th:text="${#temporals.format(fil.dateMiseAJour, 'dd/MM/yyyy@HH:mm')}" />
                            <td class="d-none d-lg-table-cell" th:text="${fil.id}" />
                            <td class="suppr d-none d-lg-table-cell" th:id="${fil.id}">
                                <a type="button" class="btn btn-sm btn-primary bi bi-pen" th:href="@{'/fil/editer/' ( id=${fil.id}, ecranOrigine=${rubrique}, number=${pageOfObjects.number}, size=${pageOfObjects.size} ) }" th:if="${fil.editable}"></a>
                                <button type="button" class="btn btn-sm btn-danger bi bi-trash" name="btnSupprimer" th:if="${fil.supprimable}" data-bs-toggle="modal" data-bs-target="#supprimerFil"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${rubrique == 'image'}">
                <th:block th:if="${not #lists.isEmpty(pageOfObjects)}" th:each="fil: ${pageOfObjects}">
                    <a class="link-secondary" th:if="${fil.image != null}" th:href="@{'/fil/consulter/' (id=${fil.id}, ecranOrigine=${rubrique}, number=${pageOfObjects.number}, size=${pageOfObjects.size}) }">
                        <img class="thumbnail mb-3" th:src="${fil.image}" th:alt="${fil.image}" />               
                    </a>
                </th:block>
            </div>
            <!-- Pagination BOTTOM -->       
            <th:block th:replace="layouts/pagination :: content(url = '/fil/rubrique?nom=' + ${rubrique})"></th:block>
        </div>
    </body>
</html>