<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title th:fragment="title" th:text="#{titre.annuaire}"></title>
        <script th:fragment="script" type="text/javascript" src="/js/table.js"></script>
    </head>
    <body>
        <div th:fragment="content">    
            <!-- Titre et sous-titre -->
            <th:block th:fragment="titre">
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <h1 class="fw-bold" th:text="#{titre.annuaire}"></h1>
                    </blockquote>
                    <figcaption class="blockquote-footer" th:text="#{sous.titre.annuaire}">
                    </figcaption>
                </figure>
            </th:block>    
            <!-- Pagination TOP -->
            <th:block th:replace="layouts/pagination :: content(url = '/annuaire')"></th:block>    
            <!-- Liste des sites -->
            <div th:if="${not #lists.isEmpty(pageOfObjects)}">
                <p id="description" th:text="#{titre.annuaire}"></p>
                <table class="table stable-sm" aria-describedby="description">
                    <thead>
                        <tr>                    
                            <th scope="col">Nom</th>
                            <th class="d-none d-lg-table-cell" scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="clickable" th:each="site: ${pageOfObjects}" th:attr="data-lien=${site.lien}">
                            <td th:text="${site.nom}"></td>
                            <td class="d-none d-lg-table-cell" th:utext="${site.description}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>        
            <!-- Pagination BOTTOM -->
            <th:block th:replace="layouts/pagination :: content(url = '/annuaire')"></th:block>
        </div>
    </body>
</html>